<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>Guia de Perguntas</title>
  </head>
  <body>
    <div class="container">
      <h3>Realizar pergunta</h3>
      <hr />

      <form action="">
        <label>Título</label>
        <input class="form-control" type="text" placeholder="Titulo" />
        <br />
        <label>Descrição</label>
        <textarea
          class="form-control"
          placeholder="Descreva sua pergunta aqui"
        ></textarea>
        <br />
        <button class="btn btn-success">Perguntar</button>
      </form>
    </div>

    <!-- Imports below -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script src="/js/bootstrap.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
